.wrap {
    min-height: 100vh;
    word-break: keep-all;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mypage-contents {
    width: 100%;
    display: flex;
}

.left {
    flex: 1 1 260px;
}

.mypage-contents ul,
.mypage-contents li {
    list-style: none;
    padding: 0;
    margin: 0;
    color: inherit;
}

.mypage-contents > div {
    padding-top: 20px;
}

.mypage-contents ul {
    padding: 20px 0 0;
}

.mypage-contents li {
    text-align: center;
    background-color: transparent;
    border-color: #48c774;
    color: #686f6b;
    border-width: 2px;
    border-bottom-style: dotted;
    padding: 0 30px;
}
.mypage-contents li:last-child {
    border-bottom: none;
}

.role-button {
    cursor: pointer;
    transition: all 0.2s;
}

.role-button:hover {
    background: #48c774;
    color: #fff;
}

.role-button.active {
    background: #b2ffcd;
    color: #fff;
}

.role-button .card-body {
    padding: 0;
}

.role-button a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.parks,
.reviews {
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
}

.mypage-contents aside {
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
    overflow: hidden;

    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.mypage-contents .myPark {
    flex: 1 1 1000px;
}

.reviews > * {
    width: 75%;
}

.selectCard {
    max-width: 87.5%;
    margin: auto;
    display: flex;
    padding: 0 3em;
    gap: 10px;
}

.selectCard > * {
    flex: 1 1 30%;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mypage-contents .card {
    border: none;
}
.weather-box {
    height: 150px;
    width: 150px;
    text-align: center;
    background: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-title {
    font-size: 20px;
    font-weight: 700;
}
.card-text-sm {
    font-size: 12px;
    margin-bottom: 1rem;
}

@media (max-width: 1000px) {
    .mypage-contents {
        flex-wrap: wrap;
    }
    
    .show-at-lg {
        display: none;
    }
    hr {
        margin: 1rem 0;
    }
    .left,
    aside {
        width: 100%;
    }
    .left {
        padding: 0 10%;
    }
    .mypage-contents {
        justify-content: center;
        gap: 5px;
    }
    .selectCard {
        flex-wrap: wrap;
        padding: 0;
    }
}