
.wrap {
    width: 95%;
    max-width: 750px;
    padding: 1rem 1.5rem;
    margin: auto;
}

.Box{

    margin: 10px;
	display: flex;
    flex-direction: column;
    padding: 1rem;
}

.parkBoxInfo{
	display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.parkBoxCourse{

	display: flex;
    flex-grow: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;
}

.form-select {
    display: block;
}

.btn:hover {
    background: #48c774;
    color: #fff;
}

.parkBoxModalBtn{
    display: inline-block;
    margin: 20px 10px 20px auto;

}

.reviewBtn{
    align-content: center;
    float: right;
}

body .parkBoxInfo.notification {
    padding: 15px 20px;
    margin-bottom: 0;
}
body .parkBoxInfo .notification {
    margin:0;
    text-align: center;
    padding: 10px 30px;
}

/***********/
/* CSS추가 */
/***********/

.dropSelect {
    display: flex;
    gap: 8px;
}

.form-select {
    flex: 1 1 25%;
    background-color: #fff;
}

.select-weather {
    flex: 0 0 20px;
}

.select-star {
    flex: 1 1 50%;
}

.parkBoxInfo .notification {
    background-color: transparent !important;
    color: #48c774 !important;
    font-size: 12px;
    border: 1px solid #48c774;
    background-color: #fff !important;
}

.parkBoxImage {
    min-height: 44vh;
    position: relative;
    overflow: hidden;
    margin: 1em 0;
}

.parkBoxImage img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.parkBoxTitle h1 {
    font-size: 1.6rem;
    font-weight: 700;
}

body .parkBoxDesc {
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.img-box img {
    height: 100%;
    width: auto;
    max-width: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-box {
    position: relative;
    overflow: hidden;
    height: 150px;
}

body > div.wrap > div:nth-child(2) {
    margin-top: 10px;
}

body > div.wrap > div:nth-child(1) > div.parkBoxModalBtn > button {
    background-color: #48c774;
    color: #fff;
}

body > div.wrap > div:nth-child(1) > div.parkBoxModalBtn > button:hover {
    background-color: #53d581;
}

#modalBEdrop {
    margin-bottom: 10px;
    margin-top: 10px;
}