

    <div class="mytitle">
        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                    {#로고/배너#}
                    <span class="fs-4">🏃달려라01🏃</span>
                </a>
                {#로그인/회원가입 버튼#}
                <ul class="nav nav-pills">
                    <button type="button" href="/parkpage" class="button is-success is-outlined me-3">공원페이지</button>
                    <button type="button" href="/mypage" class="button is-success is-outlined me-3">마이페이지</button>
{#                    <li class="nav-item"><a href="/mypage" class="nav-link">마이페이지</a></li>#}
                </ul>
            </header>
        </div>

    </div>