

    <div class="mytitle">
        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32">
                        <use xlink:href="#bootstrap"></use>
                    </svg>
                    {#로고/배너#}
                    <span class="fs-4">🏃달려라01🏃</span>
                </a>
                {#로그인/회원가입 버튼#}
                <ul class="nav nav-pills">
                    {# <li class="nav-item"><a href="/loginpage" class="nav-link active" aria-current="page">LogIn</a></li>
                       <li class="nav-item"><a href="/signuppage" class="nav-link">SignUp</a></li>
{#                    <button href="/loginpage" class="button is-success is-light is-rounded ">logIN</button>#}
                    {#<li class="nav-item"><button href="/loginpage" class="button is-success is-light is-rounded ">logIn</button></li>#}
                    <button type="button" onclick="window.location.href='/mypage'" class="button is-success is-outlined me-3">Login</button>
                    <button type="button" href="/Signuppage" class="button is-success is-outlined me-3">SignUp</button>
                </ul>
            </header>
        </div>

    </div>
