<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        $(document).ready(function () {
            var list = all_parks;
            console.log(list);
        })
    </script>
</head>
<body>
    {% include('header.html') %}
    <section class="section-main">
        {# ----------main 카드들-------------#}
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="https://img.insight.co.kr/static/2019/04/03/700/4cbsd123234t969i68d5.jpg" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><div id="weather"></div></h5>
                            <p class="title is-4">망원 한강공원</p>
                            <p class="subtitle is-6"> 입문자용 코스 </p>
                            <div class="content">
                                합정역에서 출발하는 한강공원코스
                                <br>
                                <a href="#">#합정역</a> <a href="#">#쉬움</a> <a href="#">#산책</a>
                                <br>
                            </div>
                            <button onclick="window.location.href='/parkpage/'" class="button is-success is-light is-rounded ">달리러가기</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fc.pxhere.com%2Fphotos%2F4b%2F0d%2Fpark_leica_school_girls_holland_boys_netherlands_dutch-441276.jpg%21d&type=sc960_832" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <p class="title is-4">여의도 한강공원</p>
                            <p class="subtitle is-6"> 적당한 코스 </p>
                            <div class="content">
                                오리배를 탈 수 있는 한강공원코스
                                <br>
                                <a href="#">#여의도</a> <a href="#">#오리배</a> <a href="#">#밤섬구경</a>
                                <br>
                            </div>
                            <button href="#" class="button is-success is-ligzht is-rounded ">달리러가기</button>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fc.pxhere.com%2Fphotos%2F4c%2Fc7%2Fphoto-180873.jpg%21d&type=sc960_832" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"></h5>
                            <p class="title is-4">석촌호수공원</p>
                            <p class="subtitle is-6"> 고수용 코스 </p>
                            <div class="content">
                                석촌호수부터 광나루야구장까지
                                <br>
                                <a href="#">#롯데월드구경</a> <a href="#">#봄에는벚꽃</a> <a href="#">#석촌호수</a>
                                <br>
                            </div>
                            <button href="#" class="button is-success is-light is-rounded ">달리러가기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include('footer.html') %}

    <!--header/footer 삽입-->
    <script>
        // API키
        const API_KEY = 'b23c8020d88635be966aa7e1d3803114'

        // 위도, 경도
        const latitude = 37.55085;
        const longitude = 126.901;

        getWeather(latitude, longitude);

        // 함수실행
        function getWeather(lat, lon) {
            fetch(
                `https://api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${lon}&appid=${API_KEY}&units=metric`
            )
                .then((response) => {
                    return response.json();
                })
                .then((json) => {
                    const temparature = json.main.temp;
                    const icon = json.weather[0].icon;

                    weather.innerHTML =
                        `
                <img src="http://openweathermap.org/img/wn/${icon}@2x.png"/>
                <strong>${temparature.toFixed(1)}℃</strong>`;
                });
        }
    </script>

</body>
</html>