<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        $(document).ready(function () {
            var list = all_parks;
            console.log(list);
        })
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>F반4조 <ParkReview></title>

    <!--부트스트랩 관련 CDN Link    -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
          crossorigin="anonymous">
    <!--JQuery 관련 CDN Link    -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>

    <!--  css_style -->
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <link href="../static/CSS/mainpage.css" rel="stylesheet">

    <!-- Bulma CSS 링크 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <!-- Font Awesome CSS -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<!--    {#style css 파일 불러오기 (bulma css보다 아래 위치)#}-->
    <link href="{{ url_for('static', filename='mainstyle.css') }}" rel="stylesheet">

</head>
<body>
    {% include('header.html') %}
    <section class="section-main">
        {# ----------main 카드들-------------#}
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="https://img.insight.co.kr/static/2019/04/03/700/4cbsd123234t969i68d5.jpg" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><div id="weather0"></div></h5>
                            <p class="title is-4">망원 한강공원</p>
                            <p class="subtitle is-6"> 입문자용 코스 </p>
                            <div class="content">
                                합정역에서 출발하는 한강공원코스
                                <br>
                                <div class="sub-content"><a>#합정역</a> <a>#쉬움</a> <a>#산책</a></div>
                            </div>
                            <button onclick="window.location.href='/parkpage/0'" class="button is-success is-light is-rounded btn-to-park ">달리러가기</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fc.pxhere.com%2Fphotos%2F4b%2F0d%2Fpark_leica_school_girls_holland_boys_netherlands_dutch-441276.jpg%21d&type=sc960_832" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><div id="weather1"></div></h5>
                            <p class="title is-4">여의도 한강공원</p>
                            <p class="subtitle is-6"> 적당한 코스 </p>
                            <div class="content">
                                오리배를 탈 수 있는 한강공원코스
                                <br>
                                <div class="sub-content"><a>#여의도</a> <a>#오리배</a> <a>#밤섬구경</a></div>
                            </div>
                            <button onclick="window.location.href='/parkpage/1'" class="button is-success is-light is-rounded btn-to-park ">달리러가기</button>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="https://search.pstatic.net/sunny/?src=https%3A%2F%2Fc.pxhere.com%2Fphotos%2F4c%2Fc7%2Fphoto-180873.jpg%21d&type=sc960_832" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><div id="weather2"></div></h5>
                            <p class="title is-4">석촌호수공원</p>
                            <p class="subtitle is-6"> 고수용 코스 </p>
                            <div class="content">
                                석촌호수부터 광나루야구장까지
                                <br>
                                <div class="sub-content"><a>#롯데월드구경</a> <a >#봄에는벚꽃</a> <a >#석촌호수</a></div>
                            </div>
                            <button onclick="window.location.href='/parkpage/2'" class="button is-success is-light is-rounded btn-to-park ">달리러가기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include('footer.html') %}

    <!--header/footer 삽입-->

<!--{#    {% for parks in all_parks %}#}-->
<!--{#        <span onclick=someFunction({{ item|safe }});>{{ item }}</span>#}-->
<!--{#    {% endfor %}#}-->

    <script>
        // API키
        const API_KEY = 'b23c8020d88635be966aa7e1d3803114'

        // 위도, 경도
        // {#const latitude =  ;#}
        // {#const longitude = ;#}

        getWeather(37.55085, 126.90168 ,'weather0');
        getWeather(37.53104, 126.92889 ,'weather1');
        getWeather(37.51221, 127.10468,'weather2');

        // 함수실행
        function getWeather(lat, lon , box) {
            fetch(
                `https://api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${lon}&appid=${API_KEY}&units=metric`
            )
                .then((response) => {
                    return response.json();
                })
                .then((json) => {
                    const temparature = json.main.temp;
                    const icon = json.weather[0].icon;

                    if (box == 'weather0') {
                        weather0.innerHTML = `
                            <img src="http://openweathermap.org/img/wn/${icon}@2x.png"/>
                            <strong>${temparature.toFixed(1)}℃</strong>`;
                    } else if (box == 'weather1') {
                        weather1.innerHTML = `
                            <img src="http://openweathermap.org/img/wn/${icon}@2x.png"/>
                            <strong>${temparature.toFixed(1)}℃</strong>`;
                    } else if (box == 'weather2') {
                        weather2.innerHTML = `
                            <img src="http://openweathermap.org/img/wn/${icon}@2x.png"/>
                            <strong>${temparature.toFixed(1)}℃</strong>`;
                    }

                // {#    weather.innerHTML =#}
                // {#        `#}
                // {#<img src="http://openweathermap.org/img/wn/${icon}@2x.png"/>#}
                // {#<strong>${temparature.toFixed(1)}℃</strong>`;#}
                });
        }
    </script>

</body>
</html>