<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Park Review</title>

    <!-- 제이쿼리 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- 부트스트랩 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>



    <script>
        $(document).ready(function () {
            // get_parks_list("all")
        })

        function get_parks_list(parkId) {
            location.href=`/mypage/myParks/${parkId}`
            // $.ajax({
            //     type: "GET",
            //     url: `mypage/myParks/${parkId}`,
            //     data: {},
            //     success: function (response) {
            
            //     }
            // })
        }

        function get_parks_reviews(parkId) {
            location.href=`/mypage/myReviews/${parkId}`
            // $.ajax({
            //     type: "GET",
            //     url: `mypage/myReviews/${parkId}`,
            //     data: {},
            //     success: function (response) {
            //     }
            // })
        }
        
        // $(document).ready(function () {
        //     $("#header").load("templates/header.html");  // 원하는 파일 경로를 삽입하면 된다
        //     $("#footer").load("./footer");  // 추가 인클루드를 원할 경우 이런식으로 추가
        // });
    </script>
    <style>
        ul,
        li {
            list-style: none;
            padding: 0;
            margin: 0;
            color: inherit;
        }

        li {
            padding: 20px;
            text-align: center;
            border: 1px solid #555;
        }

        .role-button {
            cursor: pointer;
            transition: all 0.2s;
        }

        .role-button:hover {
            background: #eee;
        }

        .myPark {
            margin-top: 30px;
        }

        .parks,
        .reviews {
            justify-content: center;
            gap: 10px;
            padding-top: 20px;
        }
        .reviews > * {
            width: 70%;
        }

        .mypage-contents {
            display: flex;
        }

        .mypage-contents aside {
            flex: 1 1 20%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .mypage-contents .myPark {
            flex: 1 1 80%;
        }

        .selectCard {
            display: flex;
            padding: 0 3em;
        }

        .selectCard>* {
            flex: 1 1 33%;
        }
        .card-body {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .weather-box {
            height: 150px;
            width: 150px;
            text-align: center;
            background: pink;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>

<body>
    <div class="wrap">
        <header id="header"></header>
        <section class="mypage-contents">
            <aside>
                <ul>
                    <li>안녕하세요.
                        <strong>{{ user.userName }}</strong>님
                        <br>
                        {{ user.email }}
                        <hr>
                        나의 리뷰 확인하기 ▼
                    </li>
                    <li class="role-button" onclick="get_parks_reviews('all')">
                        공원 전체 리뷰
                    </li>
                    {% for park in parks %}
                        <li class="role-button" onclick="get_parks_reviews('{{ park.parkId }}')">
                            {{ park.parkName }}
                        </li>
                    {% endfor %}
                </ul>
            </aside>
            <div class="myPark">
                <div class="selectCard">
                    <div class="card text-center role-button" onclick="get_parks_list('all')">
                        <div class="card-body">
                            전체 공원
                        </div>
                    </div>
                    <div class="card text-center role-button" onclick="get_parks_list('finished')">
                        <div class="card-body">
                            🏁 완주 공원
                        </div>
                    </div>
                    <div class="card text-center role-button" onclick="get_parks_list('favorite')">
                        <div class="card-body">
                            ❤ 즐겨찾는 공원
                        </div>
                    </div>
                </div>
                <hr>
                <!-- 공원 -->
                {% if 'parkId' in currList[0] %}
                <div class="parks row">
                    {% for park in currList %}
                        <!-- 즐겨찾기 -->
                        {% if parkId == "favorite" %}
                            {% for check in user.parkCheck %}
                                {% if check.parkId == park.parkId %}
                                    {% if check.favorite == 1 %}
                                        <div class="card text-center" style="width: 30%;">
                                            <div class="card-body">
                                                <div>
                                                    <h5 class="card-title">
                                                        ❤
                                                        <br>
                                                        {{ park.parkName }}
                                                    </h5>
                                                    <p class="card-text">
                                                        {{ park.parkLocation }}
                                                        <hr>
                                                        {{ park.parkDesc }}
                                                    </p>
                                                </div>
                                                <a href="/park/{{ park.parkId }}" class="btn btn-primary">공원 정보</a>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <!-- 완주 -->
                        {% if parkId == "finished" %}
                            {% for check in user.parkCheck %}
                                {% if check.parkId == park.parkId %}
                                    {% if check.finished == 1 %}
                                        <div class="card text-center" style="width: 30%;">
                                            <div class="card-body">
                                                <div>
                                                    <h5 class="card-title">
                                                        🏁
                                                        <br>
                                                        {{ park.parkName }}
                                                    </h5>
                                                    <p class="card-text">
                                                        {{ park.parkLocation }}
                                                        <hr>
                                                        {{ park.parkDesc }}
                                                    </p>
                                                </div>
                                                <a href="/park/{{ park.parkId }}" class="btn btn-primary">공원 정보</a>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <!-- 전체 -->
                        {% if parkId == "all" %}
                        <div class="card text-center" style="width: 30%;">
                            <div class="card-body">
                                <div>
                                    <h5 class="card-title">
    
                                        {% for check in user.parkCheck %}
                                            {% if check.parkId == park.parkId %}
                                                {% if check.favorite == 1 %}
                                                    ❤
                                                {% endif %}
                                                {% if check.finished == 1 %}
                                                    🏁
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        <br>
                                        {{ park.parkName }}
                                    </h5>
                                    <p class="card-text">
                                        {{ park.parkLocation }}
                                        <hr>
                                        {{ park.parkDesc }}
                                    </p>
                                </div>
                                <a href="/park/{{ park.parkId }}" class="btn btn-primary">공원 정보</a>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
                {% endif %}
                <!-- 리뷰 -->
                {% if 'reviewId' in currList %}
                <div class="reviews row">
                    <!-- 리뷰 전체 -->
                    {% if parkId == 'all' %}
                        {% for review in currList['reviews'] %}
                            {% for park in parks %}
                                {% if park.parkId == review.parkId %}
                                <div class="card text-center">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            {{ review.comment }}
                                        </h5>
                                        <p class="card-text">
                                            {{ park.parkName }}
                                            |
                                            {{ review.weather }}
                                            |
                                            rate: {{review.rate}}
                                            {% if review.rate == 5 %}
                                                {{ "⭐" * 5 }}
                                            {% elif review.rate == 4 %}
                                                {{ "⭐" * 4 }}
                                            {% elif review.rate == 3 %}
                                                {{ "⭐" * 3 }}
                                            {% elif review.rate == 2 %}
                                                {{ "⭐" * 2 }}
                                            {% elif review.rate == 1 %}
                                                {{ "⭐" * 1 }}
                                            {% else %}
                                                😡
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% else %}
                    <!-- 리뷰 공원별 -->
	                <!-- parkId가 all이 아니라 공원의 id값일 때 -->
                    <!-- for문으로 reviews의 review 배열을 돌리는데 -->
                    <!-- 현재 review의 parkId값과 현재 페이지의 id값이 같으면 매치되는 리스트인데 -->
                    <!-- 위의 값이 parkId의 공원 id값과 같다면 출력한다.-->

                    {% set pageId= parkId | int %}
                    {% for review in currList['reviews'] %} 
                        {% if review.parkId - pageId == 0 %}
                            {% for park in parks %}
                                {% if park.parkId == review.parkId %}
                                <div class="card text-center">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            {{ review.comment }}
                                        </h5>
                                        <p class="card-text">
                                            {{ park.parkName }}
                                            |
                                            {{ review.weather }}
                                            |
                                            rate: {{review.rate}}
                                            {% if review.rate == 5 %}
                                                {{ "⭐" * 5 }}
                                            {% elif review.rate == 4 %}
                                                {{ "⭐" * 4 }}
                                            {% elif review.rate == 3 %}
                                                {{ "⭐" * 3 }}
                                            {% elif review.rate == 2 %}
                                                {{ "⭐" * 2 }}
                                            {% elif review.rate == 1 %}
                                                {{ "⭐" * 1 }}
                                            {% else %}
                                                😡
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>
                                {% endif %}
                            {% endfor %}

                        {% endif %}
                    {% endfor %}
                {% endif %}
                </div>
                {% endif %}
            </div>
        </section>
        <footer id="footer">

            <!-- 코드 샘플 -->
            <!-- <div class="weather-box">
                <div id="weather" class="weather"></div>
            </div> -->
            <script>
                const API_KEY='a2e8922539a2e4f37866cc7d173c8be2'
                const weatherResetTime=10*60*1000

                setInterval(()=>{
                    askForCoords();
                }, weatherResetTime)

                askForCoords();
                function askForCoords() {
                    navigator.geolocation.getCurrentPosition(handleGeoSucces, handleGeoError);
                }

                function handleGeoSucces(position) {
                    const latitude = position.coords.latitude;
                    const longitude = position.coords.longitude;
                    getWeather(latitude, longitude);
                }

                function handleGeoError() {
                    console.log('위치를 찾을 수 없습니다.');
                }

                function getWeather(lat, lon) {
                    fetch
                    fetch(
                            `https://api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${lon}&appid=${API_KEY}&units=metric`
                        )
                        .then((response)=>{
                            return response.json();
                        })
                        .then((json)=>{
                            const temparature = json.main.temp;
                            const place = json.name;
                            const string = json.weather[0].main.toLowerCase();
                            console.log(string.toLowerCase());
                            const icon = json.weather[0].icon;

                            weather.innerHTML =
                                `
                            <strong>${temparature.toFixed(1)}℃</strong>
                            <img src="http://openweathermap.org/img/wn/${icon}@2x.png" />`;
                        });
                }
            </script>
            <!-- 코드 샘플 -->


        </footer>
    </div>
</body>

</html>
