<!DOCTYPE html>
<html lang="ko">
<head>

    <link href="../static/parkstyle.css" rel="stylesheet">
    <script src="../static/JS/park.js"></script>

</head>
<body>
{% include('header.html') %}
<div class="wrap">
    <div class="Box columns is-centered card">
        <div class="parkBoxInfo notification">
            <div class="notification is-success is-one-fifths">{{ parks.parkName }}</div>
            <div class="notification is-info is-one-fifths">평균: {{ parks.runningTime }}</div>
        </div>
        <div class="parkBoxImage column">
            <img src="../static/course_image/none.png" alt="">
        </div>
        <div class="notification">
            <div class="parkBoxTitle column">
                <h1>{{ parks.parkName }}</h1>
            </div>
            <div class="parkBoxDesc column border-bottom">{{ parks.parkDesc }}</div>
            <div class="parkBoxLocation column" style="font-size: 12px;">{{ parks.parkLocation }}</div>
        </div>
        
        <div class="parkBoxCourse selectCard">
            <div class="courseBox column card text-center btn reviewBtn">
                <div class="img-box">
                    <img src="../static/course_image/none.png">
                </div>
            </div>
            <div class="courseBox column card text-center btn reviewBtn">
                <div class="img-box">
                    <img src="../static/course_image/course.{{parkId}}-0.png">
                </div>
            </div>
            <div class="courseBox column card text-center btn reviewBtn">
                <div class="img-box">
                    <img src="../static/course_image/course.{{parkId}}-1.jpg">
                </div>
            </div>
        </div>
        <div class="parkBoxModalBtn">
            <button class="column card btn reviewBtn" onclick='$("#modal-post").addClass("is-active")'>리뷰하기</button>
        </div>
    </div>
    <div class="Box columns is-centered card">
        {% for review in currList['reviews'] %}
        {% if review.parkId - parkId == 0%}
            <div class="card text-center">
                <div class="card-body">
                    <h5 class="card-title">
                        {{ review.comment }}
                    </h5>
                    <p class="card-text">
                        <span>{{ parks.parkName }}</span>
                        <span>{{ review.weather }}</span>
                        <span>
                            {% if review.rate == 5 %}
                                {{ "⭐" * 5 }}
                            {% elif review.rate == 4 %}
                                {{ "⭐" * 4 }}
                            {% elif review.rate == 3 %}
                                {{ "⭐" * 3 }}
                            {% elif review.rate == 2 %}
                                {{ "⭐" * 2 }}
                            {% elif review.rate == 1 %}
                                {{ "⭐" * 1 }}
                            {% else %}
                                😡
                            {% endif %}
                        </span>

                    </p>
                </div>
            </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="modal" id="modal-post">
        <div class="modal-background" onclick='$("#modal-post").removeClass("is-active")'></div>
        <div class="modal-content">
            <div class="box" id="modalBox">
                {{ parks.parkName }} | {{ parks.course }}
                <div id="modalBoxEntry">
                    <div class="dropSelect" id="modalBEdrop">
                        <select class="form-select" id="mm">
                            <option selected>MM월</option>
                            <option value=01>1월</option>
                            <option value=02>2월</option>
                            <option value=03>3월</option>
                            <option value=04>4월</option>
                            <option value=05>5월</option>
                            <option value=06>6월</option>
                            <option value=07>7월</option>
                            <option value=08>8월</option>
                            <option value=09>9월</option>
                            <option value=10>10월</option>
                            <option value=11>11월</option>
                            <option value=12>12월</option>
                        </select>
                        <select class="form-select" id="dd">
                            <option selected>DD일</option>
                            <option value=01>1일</option>
                            <option value=02>2일</option>
                            <option value=03>3일</option>
                            <option value=04>4일</option>
                            <option value=05>5일</option>
                            <option value=06>6일</option>
                            <option value=07>7일</option>
                            <option value=08>8일</option>
                            <option value=09>9일</option>
                            <option value=10>10일</option>
                            <option value=11>11일</option>
                            <option value=12>12일</option>
                            <option value=13>13일</option>
                            <option value=14>14일</option>
                            <option value=15>15일</option>
                            <option value=16>16일</option>
                            <option value=17>17일</option>
                            <option value=18>18일</option>
                            <option value=19>19일</option>
                            <option value=20>20일</option>
                            <option value=21>21일</option>
                            <option value=22>22일</option>
                            <option value=23>23일</option>
                            <option value=24>24일</option>
                            <option value=25>25일</option>
                            <option value=26>26일</option>
                            <option value=27>27일</option>
                            <option value=28>28일</option>
                            <option value=29>29일</option>
                            <option value=30>30일</option>
                            <option value=31>31일</option>

                        </select>
                        <select class="form-select select-weather" id="rate">
                            <option selected>날씨</option>
                            <option value="☀">{{ "☀" }}</option>
                            <option value="🌤">{{ "🌤" }}</option>
                            <option value="☁">{{ "☁" }}</option>
                            <option value="☔">{{ "☔" }}</option>
                            <option value="❄">{{ "❄" }}</option>
                        </select>
                        <select class="form-select select-star" id="rate">
                            <option selected>평점</option>
                            <option value=1>{{ "⭐" * 1 }}</option>
                            <option value=2>{{ "⭐" * 2 }}</option>
                            <option value=3>{{ "⭐" * 3 }}</option>
                            <option value=4>{{ "⭐" * 4 }}</option>
                            <option value=5>{{ "⭐" * 5 }}</option>
                        </select>
                    </div>
                    <div id="modalBEcomment"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include('footer.html') %}

</body>
</html>