<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Park Review | 공원 정보</title>

    <!-- 제이쿼리 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- 부트스트랩 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>

    <style>

        .mainContainor{
            padding-top: 20px;

            flex: 80%;
            display: block;
            flex-direction: column;
            justify-content: center;

            gap: 10px;
        }

        .Box{
            background-color: aquamarine;
            width: 95%;
            max-width: 800px;

            margin: 10px auto 10px;
            padding: 20px 2% 20px;

            flex-direction: column;
            justify-content: center;
        }

        .parkInfo{
            justify-content: center;
        }

        .parkImage{
            background-color: aqua;
        }

        .parkBtn{

            background-color: aqua;
        }

        .reviewRrite{
            display: flex;
            flex-direction: row;
            background-color: aqua;
        }
        .dropSelect{
            display: flex;
            flex-direction: row;
            background-color: aqua;
        }
    </style>

    <script>
        $(document).ready(function () {
            get_park()
            get_review()
        })

        function get_park() {
            $.ajax({
                type: "GET",
                url: "/api/getParkInfo/${parkId}",
                data: {},
                success: function (response) {
                    console.log(response)
                }
            })
        }

        function get_review() {
            $.ajax({
                type: "GET",
                url: "/api/getMyReviews/${userId}",
                data: {},
                success: function (response) {
                    console.log(response)
                }
            })
        }

        function save_review() {
            let date = $('#mm').val()+$('#dd').val()
            let rate = $('#rate').val()
            let comment = $('#comment').val()

            $.ajax({
                type: 'POST',
                url: '/mars',
                data: {parkId_give: parkId, date_give: date, rate_give: rate, weather_give: weather, comment_give: comment},
                success: function (response) {
                    alert(response['msg'])
                    window.location.reload()
                }
            });
        }
    </script>

</head>
<body>
    <div class="wrap">
        <section id="header"></section>
        <section>
            <div class="mainContainor">

                <div class="park Box">
                    <div class="parkInfo">
                        <p>
                            <span>{{ parks.parkName }}</span>
                            <span>날씨 가져오기</span>
                            <span>{{ parks.runningTime }}</span>
                        </p>
                    </div>
                    <div class="parkImage Box">
                        <img src="{% get_static_prefix %}/parkImage/{{parkId}}.png">
                        <img src="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMTA4MDVfMjQ2%2FMDAxNjI4MTI5Mzg5NzEx.mMGdGAPAnVJwrZsYQxaDXoQIF_jzZAzX_7hhTlYNloUg.zILKw_eeRiuW3M0hLc8CNMS7Xb0XdYcV9RFnf_yIEpsg.JPEG.imsodal%2FIMG_7767.jpg&type=ff332_332">
                        <div class="chooseCourse"></div>
                    </div>
                    <div class="parkBtn Box ">
                        <button></button>
                    </div>

                    <div class="reviewRrite Box">



                        <div class="dropSelect">
                            <select class="form-select" id="mm">
                                <option selected>MM월</option>
                                <option value=01>1월</option>
                                <option value=02>2월</option>
                                <option value=03>3월</option>
                                <option value=04>4월</option>
                                <option value=05>5월</option>
                                <option value=06>6월</option>
                                <option value=07>7월</option>
                                <option value=08>8월</option>
                                <option value=09>9월</option>
                                <option value=10>10월</option>
                                <option value=11>11월</option>
                                <option value=12>12월</option>
                            </select>
                            <select class="form-select" id="dd">
                                <option selected>DD일</option>
                                <option value=01>1일</option>
                                <option value=02>2일</option>
                                <option value=03>3일</option>
                                <option value=04>4일</option>
                                <option value=05>5일</option>
                                <option value=06>6일</option>
                                <option value=07>7일</option>
                                <option value=08>8일</option>
                                <option value=09>9일</option>
                                <option value=10>10일</option>
                                <option value=11>11일</option>
                                <option value=12>12일</option>
                                <option value=13>13일</option>
                                <option value=14>14일</option>
                                <option value=15>15일</option>
                                <option value=16>16일</option>
                                <option value=17>17일</option>
                                <option value=18>18일</option>
                                <option value=19>19일</option>
                                <option value=20>20일</option>
                                <option value=21>21일</option>
                                <option value=22>22일</option>
                                <option value=23>23일</option>
                                <option value=24>24일</option>
                                <option value=25>25일</option>
                                <option value=26>26일</option>
                                <option value=27>27일</option>
                                <option value=28>28일</option>
                                <option value=29>29일</option>
                                <option value=30>30일</option>
                                <option value=31>31일</option>

                            </select>
                            <select class="form-select" id="rate">
                                <option selected>오늘의 평점</option>
                                <option value=1>{{ "⭐" * 1 }}</option>
                                <option value=2>{{ "⭐" * 2 }}</option>
                                <option value=3>{{ "⭐" * 3 }}</option>
                                <option value=4>{{ "⭐" * 4 }}</option>
                                <option value=5>{{ "⭐" * 5 }}</option>
                            </select>
                            <div>
                                <h3>{{parks.parkName}}</h3>
                            </div>
                        </div>
                        <button type="button" class="btn-close" disabled aria-label="Close"></button>
                    </div>

                </div>

                <div class="review Box">
                    {% if 'reviewId' in currList %}
                    <div class="reviews row">
                        {% for review in currList['reviews'] %}
                        <div class="card text-center">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{ review.comment }}
                                </h5>
                                <p class="card-text">
                                    {% for park in parks %}
                                        {{}}
                                        {% if park.parkId == review.parkId %}
                                            {{ park.parkName }}
                                        {% endif %}
                                    {% endfor %}
                                    |
                                    {{ review.weather }}
                                    |
                                    rate: {{review.rate}}
                                    {% if review.rate == 5 %}
                                        {{ "⭐" * 5 }}
                                    {% elif review.rate == 4 %}
                                        {{ "⭐" * 4 }}
                                    {% elif review.rate == 3 %}
                                        {{ "⭐" * 3 }}
                                    {% elif review.rate == 2 %}
                                        {{ "⭐" * 2 }}
                                    {% elif review.rate == 1 %}
                                        {{ "⭐" * 1 }}
                                    {% else %}
                                        😡
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </section>
        <section id="footer"></section>
    </div>
</body>
</html>