<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>날씨 샘플</title>
</head>

<body>
    Hello
    <br>
    <div id="weather"></div>

</body>
<script>
    // API키
    const API_KEY='b23c8020d88635be966aa7e1d3803114'

    // 위도, 경도
    const latitude = 00;
    const longitude = 00;

    getWeather(latitude, longitude);

    // 함수실행
    function getWeather(lat, lon) {
        fetch
        fetch(
                `https://api.openweathermap.org/data/2.5/weather?lat=${lat}&lon=${lon}&appid=${API_KEY}&units=metric`
            )
            .then((response)=>{
                return response.json();
            })
            .then((json)=>{
                const temparature = json.main.temp;
                const icon = json.weather[0].icon;

                weather.innerHTML =
                    `
                <strong>${temparature.toFixed(1)}℃</strong>
                <br>
                <img src="http://openweathermap.org/img/wn/${icon}@2x.png" />`;
            });
    }
</script>
</html>